body {
    background-color:#f3f9f1;
    text-align:center;
}
/*heading 2*/
h2 {
    color:#758e61;
    text-align:center;
}
p {
    color:rgb(117,142,97);
    text-align:center;
    font-family:monospace;
}
#test {
    color:red;
}
.blue {
    color:blue;
}
p.blue {
    color:pink;
}
.deleted {
    text-decoration:line-through;
}
.up {
    text-transform:uppercase;
}